.add_script_buttons {
  display: flex;
  gap: 8px;
  justify-content: space-between;
  max-width: 74px;
  min-width: 74px;
  margin-bottom: 8px;
}

.mode_scripts_label {
  display: flex;
  pointer-events: unset;
  align-items: center;
  gap: 8px;
}
