.dependency {
  align-items: stretch;
  border-bottom: var(--ft-select-list-item-bg-color-active) solid 1px;
  display: flex;
  flex-direction: row;
  gap: 16px;
  padding: 0px var(--ft-container-padding-right) 8px
    var(--ft-container-padding-left);
  margin: 0 calc(var(--ft-container-padding-right) * -1) 16px
    calc(var(--ft-container-padding-left) * -1);
  position: relative;
}
.dependency > * {
  width: 100%;
}

.buttons {
  width: auto;
  align-self: flex-end;
  padding-bottom: 8px;
}
