.layout {
  display: flex;
  flex-wrap: nowrap;
  align-items: stretch;
  height: calc(100vh - var(--ft-packages-tabs-height));
  width: 100%;
  box-sizing: border-box;
  overflow: auto;
  top: var(--ft-packages-tabs-height);
  left: 0;
  position: fixed;
}
.with_header {
  height: calc(
    100vh - calc(var(--ft-header-height) + var(--ft-packages-tabs-height))
  );
  top: calc(var(--ft-header-height) + var(--ft-packages-tabs-height));
}
.layout::before,
.layout::after {
  content: '';
  display: block;
}
.layout::before {
  min-width: var(--ft-container-padding-left);
}
.layout::after {
  min-width: var(--ft-container-padding-right);
}

.content {
  width: auto;
  flex-grow: 1;
  margin: 0;
}
.content::before,
.content::after {
  content: '';
  clear: both;
  display: block;
  width: 100%;
  float: left;
}

.content::before {
  height: 24px;
}
.content::after {
  height: calc(24px + var(--ft-footer-height));
}

.header_area {
  -webkit-user-select: none;
  user-select: none;
  cursor: default;
  -webkit-app-region: drag;
  z-index: 2;
  margin: 0;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: var(--ft-header-height);
}
.header_area * {
  pointer-events: none;
}
