@import url('fratch-ui/styles.css');

:root {
  --ft-footer-height: 96px;
  --ft-packages-tabs-height: 46px;
  --ft-container-padding-left: 32px;
  --ft-container-padding-right: 48px;
}

body {
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  user-select: none;
  background-color: var(--ft-color-white);
}
