.dependency {
  align-items: stretch;
  border-bottom: var(--ft-color-item-hover) solid 2px;
  display: flex;
  flex-direction: row;
  gap: 16px;
  padding: 0px var(--ft-container-padding-right) 8px
    var(--ft-container-padding-left);
  margin: 0 calc(var(--ft-container-padding-right) * -1) 16px
    calc(var(--ft-container-padding-left) * -1);
  position: relative;
}
.dependency > * {
  width: 100%;
}
.dependency .sync_src {
  position: relative;
  z-index: 1;
}
.dependency .sync_src_title {
  margin: 0 0 8px 0;
}

.buttons {
  width: auto;
  padding-bottom: 8px;
}
