.mode_scripts {
  display: flex;
  gap: 16px;
  align-items: center;
  max-width: 100%;
}
.mode_scripts > * {
  white-space: nowrap;
  margin: 0 0 8px 0;
}

.mode_scripts .scripts_value {
  flex: 1 1 100%;
  position: relative;
  padding: 0 8px;
  background-color: var(--ft-color-grey-3);
  border-radius: var(--ft-form-item-border-radius);
  font-size: 12px;
  overflow: hidden;
  height: 2em;
  line-height: 2em;
}
.mode_scripts .scripts_value_filled {
  background-color: var(--ft-select-list-item-bg-color-hover);
}

.mode_scripts .scripts_value > * {
  position: absolute;
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
}
