.main_settings {
  position: fixed !important;
  top: 80px;
}
.tabs_menu {
  position: fixed;
  max-width: 100vw;
  left: 0;
  padding-bottom: 16px !important;
  background: var(--ft-color-grey-3);
}
.tabs_menu > ul {
  position: relative;
  z-index: 1;
}
.tabs_menu > ul:after {
  position: absolute;
  content: ' ';
  left: 0;
  top: calc(100% + 1px);
  width: 100%;
  height: 16px;
  z-index: 3;
  background-color: var(--ft-color-white);
}
