.settings {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 100;
}

.settings .opener {
  font-size: 28px;
  font-weight: bold;
  text-decoration: none;
  display: block;
  padding: 8px;
}

.settings .menu {
  margin: 8px;
  padding: 8px 0;
  list-style: none;
  background-color: var(--ft-color-white);
  border-radius: var(--ft-button-default-border-radius);
  box-shadow: var(--ft-box-shadow-2);
  position: absolute;
  right: 16px;
  top: 0;
  min-width: 200px;
}
.settings .menu.open {
  display: block;
}
.settings .menu.close {
  display: none;
}

.settings .menu li {
  padding: 2px 16px;
}
