.wrapper {
  width: calc(100vw - 64px);
  max-width: 780px;
  border-top: solid 1px var(--ft-color-grey-2);
  padding: 12px;
  background-color: var(--ft-color-background);
  box-sizing: border-box;
  margin-bottom: -4px;
}
.wrapper .title {
  margin: 0;
  text-align: left;
  margin-bottom: 8px;
}
.overflow {
  overflow: auto;
  max-height: calc(100vh - 452px);
  padding: 2px;
  padding-right: 36px;
  margin-right: -36px;
}
.overflow .script {
  flex: 100% 1 1;
  display: flex;
  align-items: center;
  vertical-align: middle;
  gap: 8px;
}
.overflow .script .script_name {
  flex: 40%;
  height: 40px;
  margin-bottom: 8px;
}
.overflow .script .script_value {
  flex: 60%;
  height: 40px;
  margin-bottom: 8px;
  margin-right: 8px;
}
