.footer {
  position: fixed;
  width: 100%;
  left: 0;
  bottom: 0;
  padding: 16px 32px 0 32px;
  box-sizing: border-box;
  height: var(--ft-footer-height);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 16px;
  z-index: 99999;
}

.footer > * {
  min-width: calc(16px * 7);
}

.close_button {
  position: relative;
  z-index: 9999;
  margin-right: auto;
}
