.footer {
  position: fixed;
  width: 100%;
  left: 0;
  bottom: 0;
  padding: 0 var(--ft-container-padding-right) 0
    var(--ft-container-padding-left);
  box-sizing: border-box;
  height: var(--ft-footer-height);
  align-items: center;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 16px;
  z-index: 99999;
  justify-content: space-between;
  background: var(--ft-color-background);
  border-top: solid 1px var(--ft-color-grey-2);
}

.footer > * {
  min-width: calc(16px * 7);
}
.footer .version {
  margin: 0 auto 0 0;
  margin-bottom: 0;
  font-size: 12px;
  color: var(--ft-color-primary);
}
