.project .label {
  display: block;
  margin-bottom: 8px;
}
.project .back {
  text-decoration: none;
  background-color: var(--ft-select-list-item-bg-color-active);
  border-radius: var(--ft-form-item-border-radius);
  padding: 0 4px;
  margin: 0 4px;
  box-shadow: var(--ft-box-shadow-1);
}
.project .options {
  display: flex;
  gap: 16px;
  align-items: center;
}
.project .options > * {
  white-space: nowrap;
  margin-bottom: 8px;
}

.project .options .branch {
  width: 100%;
}
