.package .options {
  display: flex;
  gap: 16px;
  align-items: center;
}
.package .options > * {
  white-space: nowrap;
  margin-bottom: 8px;
}
.package .options .branch {
  width: 100%;
  margin-bottom: 0;
}
.package .scripts_title {
  margin: 0 0 8px 0;
}
