.git_commands {
  height: 36px;
  position: relative;
  display: flex;
  align-items: center;
  z-index: 2;
}
.git_commands a {
  display: block;
  padding-right: 32px;
}
.git_commands .git_commands_menu {
  margin: 0;
  top: -8px;
}
